@CHARSET "UTF-8";

body
{
	background-color:#E0E0E0;; 
}

body#center {
	text-align:center;
}

div#nav{
	text-align: center;
}

div#nav ul{
	display: inline-block;
}

ul#nav
{
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

li#nav
{
	float:left;
}

a:link#nav,a:visited#nav
{
	display:block;
	width:120px;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#98bf21;
	text-align:center;
	padding:4px;
	text-decoration:none;
	text-transform:uppercase;
}

a:hover#nav,a:active#nav
{
	background-color:#7A991A;
}

div#loginfield
{
	width:300px;
	padding:10px;
	border:5px solid gray;
	margin:0px auto;
	text-align: center;
	color:#FFFFFF;
	background-color:#98bf21;
	margin-top: 1cm;
}

div#sidebar
{
	width:170px;
	padding:10px;
	border:5px solid gray;
	margin:0px;
	color:#FFFFFF;
	background-color:#98bf21;
	margin-top: 1cm;
	float:left;
}

.news
{
	width:550px;
	padding:10px;
	border:5px solid gray;
	margin:0px auto;
	color:#FFFFFF;
	background-color:#98bf21;
	margin-top: 0.25cm;
	float:center;
}

div#site
{
	width:1000px;
	padding:10px;
	margin:0px auto;
	color:#FFFFFF;
	float:center;
}

div#message
{
	width:600px;
	padding:10px;
	border:5px solid gray;
	margin:0px auto;
	text-align: center;
	color:#FFFFFF;
	background-color:#98bf21;
	margin-top: 1cm;
}

table,th,td
{
	width:1000px;
	border:1px solid black;
	margin-top: 1cm;
	margin:0px auto;
	color:#000000;
}

div#inboxmessage
{
	margin:0px auto;
	text-align: center;
	color:#000000;
}

div#readpm
{
	width:600px;
	padding:10px;
	border:5px solid gray;
	margin:0px auto;
	color:#000000;
	background-color:#98bf21;
	margin-top: 1cm;
}

div#readpmtext
{
	width:560px;
	padding:10px;
	border:2px solid gray;
	margin:0px;
	color:#000000;
	background-color:#FFFFFF;
	margin-top: 0.1cm;
}

div#errormsg
{
	color:#FF0000;
	margin-top: 0.1cm;
	text-align: center;
}

div#profile
{
	width:600px;
	padding:10px;
	margin:0px auto;
	text-align: left;
	color:#000000;
	margin-top: 0.1cm;
}

div#blackh
{
	color:#000000;
}

div#readcomment
{
	width:560px;
	padding:10px;
	border:2px solid gray;
	margin:0px auto;
	color:#000000;
	background-color:#FFFFFF;
	margin-top: 0.1cm;
}

#adminmenu {
	width: 43.7%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#adminmenu li {
	float: left; }
#adminmenu li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#adminmenu li a:hover {
	color: #c00;
	background-color: #fff; }
	
#analystmenu {
	width: 20%;
	float: left;
	margin: 0 0 3em 0;
	padding: 0;
	list-style: none;
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc; 
	border-top: 1px solid #ccc; }
#analystmenu li {
	float: left; }
#analystmenu li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #069;
	border-right: 1px solid #ccc; }
#analystmenu li a:hover {
	color: #c00;
	background-color: #fff; }